    <section class="main-body" style="width: 80%;">
        <div class="content">
            <div class="col-md-3 col-xs-3 col-lg-3">
            <img class="student-image" src="/img/cieran.jpg">
            <h3 id="student-name">Cieran Neeson</h3>
            <p id="student-bio">4th Year Computer Science &amp; Software Engineering</p>
            </div>
            <div class="col-md-9 col-xs-9 col-lg-9">
                <div class="market">
                <div class="row">
                    <h4 class="market-name">PASS OR FAIL</h4>    
                </div>
                <div class="row">
                <div class="col-xs-3 col-md-3 col-lg-3 odds">
                    <button class="btn btn-block btn-info" ng-click="open()">10/11</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">10/11</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3"></div>
                <div class="col-xs-3 col-md-3 col-lg-3"></div>
                </div> 
            </div>
            
            <div class="market">
                <div class="row">
                    <h4 class="market-name">NUMBER OF REPEAT EXAMS</h4>    
                </div>
                <div class="row">
                <div class="col-xs-3 col-md-3 col-lg-3 odds">
                    <button class="btn btn-block btn-info" ng-click="open()">11/10</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">2/1</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">5/1</button>    
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">12/1</button>
                </div>
                    
                </div> 
            </div>
            
            <div class="market">
                <div class="row">
                    <h4 class="market-name">GRADE CLASSIFICATION</h4>    
                </div>
                <div class="row">
                <div class="col-xs-3 col-md-3 col-lg-3 odds">
                    <button class="btn btn-block btn-info" ng-click="open()">10/1</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">6/1</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">3/1</button>    
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">3/1</button>
                </div>
                    
                </div> 
            </div>
            
            <div class="market">
                <div class="row">
                    <h4 class="market-name">PASS BY COMPENSATION</h4>    
                </div>
                <div class="row">
                <div class="col-xs-3 col-md-3 col-lg-3 odds">
                    <button class="btn btn-block btn-info" ng-click="open()">10/11</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">10/11</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                </div>
                    
                </div> 
            </div>
                
            <div class="market">
                <div class="row">
                    <h4 class="market-name">TOP OF THE CLASS</h4>    
                </div>
                <div class="row">
                <div class="col-xs-3 col-md-3 col-lg-3 odds">
                    <button class="btn btn-block btn-info" ng-click="open()">25/1</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                    <button class="btn btn-block btn-info" ng-click="open()">1/10</button>
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                </div>
                <div class="col-xs-3 col-md-3 col-lg-3">
                </div>
                    
                </div> 
            </div>
            </div>
        </div>
    </section>
