<div class="err-container">
<h1 class="err-head">Oh look, we've got an error..</h1>
<p class="err-msg">{{message}}</p>
<button class="err-btn" onClick="location.href='/'">Back to Safety</button>
</div>