<body>
    <nav>
        <div class="main-head">
            <img id="logo-header" src="assets/img/betgrade_big.png" alt="logo"/>
        </div>

        <div class="sub-head">
        <ul class="nav-list">
            <li><a href="/CS17">COMPUTER SCIENCE 16-17</a></li>
            <li><a href="/CS17">COMPUTATIONAL THINKING 16-17</a></li>
            <li><a href="/CS18">CSSE FINAL YEAR 16-17</a></li>
        </ul>
        </div>
    </nav>
    
    <section class="main-body">
        <div class="bet-column-head">
            <div class="col-xs-6 col-md-6">Student Name</div>
            <div class="col-xs-3 col-md-3">Odds to Pass</div>
            <div class="col-xs-3 col-md-3">Odds to Fail</div>
        </div>
        <div class="bet-column-market" ng-controller="ModalCtrl">
            {{# each items}}
            <div class="col-xs-6 col-md-6"><a class="names" href="cieran.html">{{this.marketname}}</a></div>
            <div class="col-xs-3 col-md-3"><button class="btn btn-block btn-info" ng-click="open()">{{this.A}}</button></div>
            <div class="col-xs-3 col-md-3"><button class="btn btn-block btn-info" ng-click="open()">{{this.B}}</button></div>
            {{/each}}
        </div>    
    </section>
    <footer>
        <p>&copy; Cieran Neeson, 2016</p>
    </footer>