 

	<nav>
        <div class="main-head">
        <img id="logo-header" src="/img/betgrade_big.png" alt="logo"/>
             <button class="user-routes pull-right" onClick="location.href='/login'">LOGIN</button>
             <button class="user-routes pull-right" onClick="location.href='/signup'">REGISTER</button>
        </div>

        <div class="sub-head">
        <ul class="nav-list">
            <li><a href="/CS">COMPUTER SCIENCE 16-17</a></li>
            <li><a href="/CT">COMPUTATIONAL THINKING 16-17</a></li>
            <li><a href="/CSSE">CSSE FINAL YEAR 16-17</a></li>
        </ul>
        </div>
	</nav>
    <section class="main-body">
        <div class="bet-column-head">
            <div class="col-xs-6 col-md-6">Student Name</div>
            <div class="col-xs-3 col-md-3">Odds to Pass</div>
            <div class="col-xs-3 col-md-3">Odds to Fail</div>
        </div>
        <div class="bet-column-market">
            {{# each items}}
            <div class="col-xs-6 col-md-6"><a class="names" href="/get-market"> {{this.marketname}} </a></div>
            <div class="col-xs-3 col-md-3"><button class="btn btn-block btn-info" data-toggle="modal" data-target="#myModal"> {{this.A}} </button></div>
            <div class="col-xs-3 col-md-3"><button class="btn btn-block btn-info" data-toggle="modal" data-target="#myModal"> {{this.B}} </button></div>
            {{/each}}
        </div>  
		
</section>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
    <p>{{this.marketname}}</p>
	<p>test</p>
  </div>

</div>