    <div class="alert alert-info" role="alert">
        {{#if message.length}}
           <button type="button" class="close" data-dismiss="alert">×</button>
           <strong>{{message}}</strong>
        {{/if}}
    </div>
    <nav>
        <div class="main-head">
        <img id="logo-header" src="/img/betgrade_big.png" alt="logo"/>
         <form class="navbar-form navbar-right" action="/login" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" minlength="6" placeholder="Username" required>
                        <input type="password" class="form-control" minlength="6" name="password" placeholder="Password" required>
                    </div>
			       	<button type="submit" class="btn btn-default">Login</button>
        </form>
        </div>

        <div class="sub-head">
        <ul class="nav-list">
            <li><a href="/CS">COMPUTER SCIENCE 16-17</a></li>
            <li><a href="/CT">COMPUTATIONAL THINKING 16-17</a></li>
            <li><a href="/CSSE">CSSE FINAL YEAR 16-17</a></li>
        </ul>
        </div>
    </nav>
    <section class="main-body">
        <div class="bet-column-head">
            <div class="col-xs-6 col-md-6">Student Name</div>
            <div class="col-xs-3 col-md-3">Odds to Pass</div>
            <div class="col-xs-3 col-md-3">Odds to Fail</div>
        </div>
        <div class="bet-column-market" ng-controller="ModalCtrl">
            {{# each items}}
            <div class="col-xs-6 col-md-6"><a class="names" href="/get-market"> {{this.marketname}} </a></div>
            <div class="col-xs-3 col-md-3"><button class="btn btn-block btn-info" ng-click="open()"> {{this.A}} </button></div>
            <div class="col-xs-3 col-md-3"><button class="btn btn-block btn-info" ng-click="open()"> {{this.B}} </button></div>
            {{/each}}
        </div>    
    </section>