<div class="form-wrapper">
    <h2>Student Opt-Out</h2>
    <form method="POST" action="/optout">
      <div class="form-group">
        <input type="text" name="student" class="form-control" placeholder="Student Name" autofocus required>
      </div>
      <div class="form-group">
        <input type="password" name="code" class="form-control" placeholder="Removal Code" required>
      </div>
      <div class="form-group">
        <input type="submit" class="user-routes signup" value="Opt-Out of Betgrade">
      </div>
    </form>
    <p>Changed your mind? <a href="home">Go Home!</a></p>
</div>