<section class="student-body">
        <h2 class="profile-username">Welcome, {{user.username}}!</h2>
        <p class="profile-funds">Your funds: {{user.funds}}mBTC</p>
    
        <div class="stat-wrapper">
            <div class="c100 p100 small dark green">
                <span>{{user.profit}}mBTC</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
    
</section>
