<nav>
    <div class="main-head">
        <img id="logo-header" src="/img/betgrade_big.png" alt="logo"/>
    </div>

    <div class="sub-head">
        <ul class="nav-list">
            <li><a href="/CS">COMPUTER SCIENCE 16-17</a></li>
            <li><a href="/CT">COMPUTATIONAL THINKING 16-17</a></li>
            <li><a href="/CSSE">CSSE FINAL YEAR 16-17</a></li>
        </ul>
    </div>
</nav>
<div class="form-wrapper">
    <h2>Sign Up</h2>
    <form method="POST" action="/signup">
      <div class="form-group">
        <input type="text" name="username" class="form-control" minlength="6" placeholder="Username" autofocus required>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" minlength="6" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-block btn-primary" value="Sign Up">
      </div>
    </form>
    <p>Already registered? <a href="login">Click here!</a></p>
</div>