<div class="form-wrapper">
    <h2>Sign Up</h2>
    <form method="POST" action="/signup">
      <div class="form-group">
        <input type="text" name="snumber" class="form-control" minlength="8" maxlength="8" placeholder="8-Digit Student Number" autofocus required>
      </div>      
        <div class="form-group">
        <input type="text" name="username" class="form-control" minlength="6" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" minlength="6" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="submit" class="user-routes signup" value="Sign Up">
      </div>
    </form>
    <p>Already registered? <a href="login">Click here!</a></p>
</div>