<div class="form-wrapper">
    <h2>Log In</h2>
    <form method="POST" action="/login">
      <div class="form-group">
        <input type="text" name="username" class="form-control" minlength="4" placeholder="Username" autofocus required>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" minlength="6" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="submit" class="user-routes login" value="Log In">
      </div>
    </form>
    <p>Not registered? <a href="signup">Click here!</a></p>
</div>