*{
    margin: 0;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: #767676;
}
nav{
    background-color: #3c3c3c;
}
.main-head img{
    width: 120px;
}
.main-head{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sub-head{
    background-color: #1e1e1e;
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: 0 7px 10px #888888;
    -moz-box-shadow: 0 7px 10px #888888;
    box-shadow: 0 7px 10px #888888;
}
.sub-head li, a{
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 10px;
}

.sub-head ul{
    margin-bottom: 0;
}

.sub-head a:link{
    color: white;
}
.sub-head a:visited{
    color: white;
    text-decoration: none;
}
.sub-head a:hover{
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    text-decoration: none;
    color: orange;
}
.sub-head a:active{
    color: orange;
    text-decoration: none;
}


