.profile-body{
    height: 100%;
    width: 75%;
    margin: 0 auto;
    background-color: #1e1e1e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}
.user-info{
    display: table-caption;
    float: left;
}
.user-head{
    display: flex;
}
.button-wrap{
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 10px;
}

.profile-username{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}
.profile-funds{
    color: white;
    font-weight: 300;
}

.profile-titles{
    color: white;
}
.stats-text{
    text-align: center;
    font-size: 16px;
    clear: both;
}
.payout{
    color: #4893ff;
}
.profit{
    color: #ffae1b;
}
.win{
    color: #98fb98;
}
.leaderboard{
    margin: 0 auto;
    width: 50%;
    line-height: 2.4em;
    color: white;
}
td, th{
    padding: 2px;
    text-align: left;
}
#tprofit, #right-align{
    text-align: right;
}
table.leaderboard tr:nth-child(2) {
   background: #D4AF37;
}
table.leaderboard tr:nth-child(3) {
   background: #179767;
}
table.leaderboard tr:nth-last-child(3) {
   background: #FF8888;
}
table.leaderboard tr:nth-last-child(2) {
   background: #FF6666;
}
table.leaderboard tr:nth-last-child(1) {
   background: #FF5555;
}
h4{
    color: gainsboro;
}
.bet-table{
    width: 95%;
    line-height: 2.0em;
    color: white;
}

table.settled-bets tr:nth-child(1) {
   color: #FF5555;
}

table.active-bets tr:nth-child(1) {
   color: #4893ff;
}
.profile-nav{
    width: 120px;
    line-height: 2em;
    min-width: 120px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid darkorange;
}
.profile-nav:hover {
    background-color: darkorange;
    color: #1e1e1e;
}
.profile-nav .active{
    background-color: darkorange;
    color: #1e1e1e;
}
.profile-nav:focus {
    outline: 0;
}