.profile-body{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    background-color: #1e1e1e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}
.user-info{
    display: table-caption;
    width: 150px;
}
.profile-username{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}
.profile-funds{
    color: white;
    font-weight: 300;
}
.stat-wrapper{
    display: table-caption;
    margin-left: 5%;
    width: 130px;
}
.stats-text{
    text-align: center;
    font-size: 16px;
}
.payout{
    color: #4893ff;
}
.profit{
    color: #ffae1b;
}
.win{
    color: #98fb98;
}
.leaderboard{
    width: 100%;
    line-height: 2.4em;
    color: white;
}
td, th{
    padding: 2px;
    text-align: left;
}
#tprofit{
    text-align: right;
}
table.leaderboard tr:nth-child(2) {
   background: #D4AF37;
}
table.leaderboard tr:nth-child(3) {
   background: #179767;
}
table.leaderboard tr:nth-last-child(3) {
   background: #FF8888;
}
table.leaderboard tr:nth-last-child(2) {
   background: #FF6666;
}
table.leaderboard tr:nth-last-child(1) {
   background: #FF5555;
}