<section class="profile-body">
        <div class="user-head">
            <div class="user-info">
                <h2 class="profile-username">{{user.username}}</h2>
                <p class="profile-funds">Balance&#58; {{user.funds}}mBTC</p>
            </div>
            <div class="button-wrap">
                <button class="profile-nav active" onClick="location.href='/profile'">User Stats</button>
                <button class="profile-nav" onClick="location.href='/profile/bet-history'">My Bets</button>
                <button class="profile-nav" onClick="location.href='/profile/leaderboard'">Leaderboard</button>
            </div>
        </div>
            <div class="col-xs-6 col-md-6">
            <div class="c100 p100 dark orange">
                <span>{{user.profit}}</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>                 
            <p class="stats-text profit">Profit/Loss</p>
            </div>
            
            <div class="col-xs-6 col-md-6">
            <div class="c100 p100 dark">
                <span>{{user.highest}}</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <p class="stats-text payout">Highest Payout</p>
            </div>
    
</section>
